<div class="col-lg-4 col-md-4 col-sm-4 sign-in">
{{email-input email=credentials.email}}
{{password-input password=credentials.password}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Sign In
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
</div>
