body {
  background-color: $white;
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01));
}
h3 {
  margin-top: 10vh;
}

.carousel img {
  max-height: 400px;
  width: 100%;
}

.landing {
  background-color: $gray;
  border: 2px solid white;
  width: 100%;
}

.landing-cat {
  border: 1px solid grey;
  height: 40vh;
  max-height: 400px;
  min-height: 400px;
  padding: 10vh 1vw 2vh 1vw;
}

.landing-cat {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  border: 2px solid white;
  padding: 10vh 1vw 2vh 1vw;
  height: 40vh;
  min-height: 300px;
}
