.services {
  border: 1px solid grey;
  height: 40vh;
  min-height: 300px;
  padding: 10vh 1vw 2vh 1vw;
}

.img-fluid {
  @include breakpoint(medium) {
    max-width: 100%;
  }
  @include breakpoint(small) {
    max-width: 100%;
  }
  @include breakpoint(tiny) {
    max-width: 100%;
  }
}
